
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print</title>
</head>
<body>
    <div> 
        @Html.Raw(ViewBag.ViewGrid)
    </div>
</body>
</html>
